<%- include("header") %>

<body>
  <h1 id="about">We are zudrit studios</h1>
  <h2 id="about">
    specilizing in everything related to technology <br />
    <br />
    - Animation <br />
    - Coding <br />
    - Explainers <br />
    - And much more
  </h2>
</body>

<%- include('footer') %>
