<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Adding jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Adding google font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="css/styles.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do List</title>

</head>

<body>


    <div class="box" id="heading">
        <h1> <%= todaysDate %> </h1>
    </div>

    <div class="box ">

        <!-- Looping itemList and adding new items to list when submited( EJS tags )-->
        <% for (let index = 0; index < itemList.length; index++) { %>
        <div class="item">
            <input type="checkbox">
            <p> <%= itemList[index] %> </p>
        </div>
        <% } %>

        <!-- POST the submited text to MAIN (" / ") -->
        <form class="item" action="/" method="POST">

            <input type="text" name="newItem" placeholder="New item" autocomplete="off"><br>
            
            <div class="button">
                <button type="submit" name="button">+</button>
            </div>

        </form>

    </div>



    <footer> Zudrit studio 2020 </footer>


    <script src="D:\Learning-Web-Development\todo-list-app\app.js"></script>

</body>

</html>