<%- include("header") %>

<body>
  <div class="box" id="heading">
    <h1><%= listTitle %></h1>
  </div>

  <div class="box">
    <!-- Looping itemList and adding new items to list when submited( EJS tags )-->
    <% for (let index = 0; index < itemList.length; index++) { %>
    <div class="item">
      <input type="checkbox" />
      <p><%= itemList[index] %></p>
    </div>
    <% } %>

    <!-- POST the submited text to MAIN (" / ") -->
    <form class="item" action="/" method="POST">
      <input
        type="text"
        name="newItem"
        placeholder="New item"
        autocomplete="off"
      /><br />

      <div class="button">
        <button type="submit" name="button">+</button>
      </div>
    </form>
  </div>
</body>

<%- include('footer') %>
