<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Adding jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do List</title>

</head>

<body>

    <h1>Today is <%= todaysDate %> </h1>

    <!-- Looping itemList and adding new items to list when submited with EJS tags ( <% %> )-->
    <ul>
    <% for (let index = 0; index < itemList.length; index++) { %>
        <li> <%= itemList[index] %></li>
        <% } %>
    </ul>

    <!-- POST the submited text to MAIN (" / ") Page -->
    <form class="" action="/" method="POST">

        <input type="text" name="newTodo"><br>

        <input type="submit" value="Add" />

    </form>





</body>

</html>