<%- include('partials/header') %>

<h1>Compose</h1>

<form method="POST" action="/compose">
  Enter a new composition:
  <input type="text" name="compose" />
  <button type="submit">Sumbit</button>
</form>

<%- include("partials/footer"); -%>
